html {
    font-family: Arial, sans-serif;
    margin: auto;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#chart {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    empty-cells: hide;
}

th,
td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#keyboardShortcuts th,
#keyboardShortcuts td {
    padding: 2px;
    border: none;
}
